*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}

body{
   
    background-color: #EFFFFD;
}


.background-nav{
    background-color: #A1E3D8;
}

.navbar-nav{
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #069a8e;

}


.header img{
    width: 75px;
    height: 75px;
    object-fit: contain;
}


/*--- main ---*/
/*--- index ---*/

.container{
    display: grid;
    grid-template-columns:mrepeat(3, 1fr);
    grid-template-rows:auto;
    width: 90%;
    padding: 5px;
    margin: auto;
    align-items: center;
}
.container h1{
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 60px;
    font-weight: bold;
    color: black ;
}

.container h5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    font-weight: bold;
    color: black ;
}

.container p{
    display: flex;
    justify-content:center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    position: sticky;
    margin: 0 auto;
    font-size: 20px;
}

.container div{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.container  div img{
    width: 500px;
    height: 700px;
    background-repeat: no-repeat;
    object-fit: contain;
    }

/*--- productos---*/

.container h2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    font-size: 50px;
    font-weight: bold;
    color: black ;
}

.container .productos-ches img{
    display: flex;
    flex-direction: row-reverse;
    width: 300px;
    height: 200px;
    margin: 20px;
    object-fit: contain;
}
.container .productos-marplatense img{
    display: flex;
    flex-direction: row-reverse;
    width: 300px;
    height: 200px;
    margin: 20px;
    object-fit: contain;
}

.container .productos-sable img{
    display: flex;
    flex-direction: row-reverse;
    width: 300px;
    height: 200px;
    margin: 20px;
    object-fit: contain;
}

/*--- cursos---*/

.container .curso{
    display: grid;
    grid-row: 10px;
    grid-area: auto;
    grid-column-end:initial;
}

.container .cursos > div{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.container .cursos  div div div img{
    width: 300px;
    height: 200px;
    background-repeat: no-repeat;
    object-fit: contain;
}

.container .cursos img{
    margin: 10px;
}

/*--- nosotros---*/

.container .nosotros h2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 60px;
    font-weight: bold;
    color: black ;
}

.container .nosotros p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
}
.container .nosotros{
    display: grid;
    grid-row:auto;
    grid-area: auto;
    width: 90%;
    background-color: #EFFFFD;
    padding: 5px;
    margin: 0 auto;
    align-items: center;
}


.container .pasteleria > div{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.container .pasteleria > div img{
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    object-fit: contain;
}
.container .pasteleria div img{
    margin: 10px;
}

/*---contacto---*/
.container .contact {
    display: grid;
    grid-template:none;
    grid-template-rows: auto;
    grid-area: 100%;
    width: 90%;
    background-color: #EFFFFD;
    padding: 5px;
    margin: 0 auto;
    align-items: center;
}

.container .contacto ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    
}
.container .contacto ul li{
    margin-left: 15px;
}

.container .contacto ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.container .contact img{
    width: 50px;
    height: 100px; 
    object-fit: contain;
}

.container .contact h2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 60px;
    font-weight: bold;
    color: black ;
}


/*--- footer---*/

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A1E3D8;
    padding: 25px;
}

.footer-container > img{
    width: 25px;
    height: 50px;
    object-fit: contain;
  
}

.footer-container div img{
    width: 50px ;
    height: 50px;
    object-fit: contain;
   
   }
   
 .footer-container ul{
    list-style: none;
}
.footer-container ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #069A8E;

}

.footer-container ul li a:hover{
    color: #005555;
    text-shadow: 0;
    transition: 1s;
}

@media (min-width:340px) and  (max-width:540px) {
    .footer-container{
        background-color: #A1E3D8;
    }
    .footer-container div img{
        width: 20px ;
        height: 20px ;
        object-fit: contain;
    }
    .container  div img{
        width: 200px;
        height: 300px;
    }
    
.background-nav{
    background-color: #A1E3D8;
}
.container h1{
    font-size: 30px;
}
.container h5{
    font-size: 10px;
}
.container p{
    font-size: 15px;
}
.container  div img{
    width: 300px;
    height: 400px;
}
.container h2{
    font-size: 30px;
}
.container .productos-ches img{
    width: 200px ;
    height: 100px ;
    object-fit: contain;
}
.container .productos-marplatense img{
    width: 200px ;
    height: 100px;
    object-fit: contain;
}
.container .productos-sable img{
    width: 200px ;
    height:100px ;
    object-fit: contain;
}
.container .cursos img{
    width: 200px;
    height: 300px;
    background-repeat: no-repeat;
    object-fit: contain;
}
.container .maca img{
    width: 200px;
    height: 300px;
    background-repeat: no-repeat;
    object-fit: contain;
}
.container .butter img{
    width: 200px;
    height: 300px;
    background-repeat: no-repeat;
    object-fit: contain;
}
.container .nosotros p{
    font-size: 10px;
    clear: right;
}
.container .nosotros h2{
    font-size: 20px;
}
.container .pasteleria > div img{
    width: 200px;
    height: 100px;
    object-fit: contain;
}
.footer-container h6{
    font-size: 10px;
}
}

@media   (min-width:541px) and (max-width: 760px){
    .footer-container{
        background-color: #A1E3D8;
    }
    .footer-container div img{
        width: 25px ;
        height: 35px ;
        object-fit: contain;
    }
    .container h1{
        font-size: 50px;
    }
    .container h5{
        font-size: 20px;
    }
    .container p{
        font-size: 20px;
    }
    .container  div img{
        width: 400px;
        height: 600px;
    }
    .container h2{
        font-size: 40px;
    }
    .container .productos-ches img{
        width: 250px ;
        height: 150px;
        margin: 10px;
        object-fit: contain;
    
    }
    .container .productos-ches p{
        font-size: 15px;

    }
    .container .productos-marplatense img{
        width: 250px ;
        height: 150px;
        margin: 10px;
        object-fit: contain;
    }
    .container .productos-sable img{
        width: 250px ;
        height:150px ;
        object-fit: contain;
    }
    .container .cursos  div div div img{
        width: 250px;
        height: 150px;
        background-repeat: no-repeat;
        object-fit: contain;
    }
    .container .nosotros p{
        font-size: 25px;
    }
    .container .nosotros h2{
        font-size: 40px;
    }
    }